* {
    outline: none;
}
body {
    background: #fff;
    margin: 0;
    padding: 0;
}
#categories {
    width: 80%;
    font-size: 0;
    box-shadow: 0 4px 15px -2px rgba(0,0,0,0.25);
    z-index: 2;
}
#categories button {
    display: inline-block;
    width: 25%;
    height: 75px;
    background: #29abe2;
    border: none;
    border-bottom: 1px solid #1c769c;
    border-right: 1px solid #1c769c;
    box-sizing: border-box;
    font: 32px Raleway;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.50);
}
#categories button:last-child {
    border-right: none;
}
.itemButton {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 210px;
    margin: 10px;
    border: 1px solid #1c769c;
    border-radius: 8px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5),
                0 0 5px rgba(0,0,0,0.25);
}
.list-item-price {
    position: absolute;
    top: 0;
    right: 0;
    background: #29abe2;
    padding: 5px;
    border-left: 1px solid #1c769c;
    border-bottom: 1px solid #1c769c;
    border-bottom-left-radius: 8px;
    font: 400 18px Raleway;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.50);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.50)
}
.list-item-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: table-cell;
    background: #29abe2;
    padding: 0 0px;
    border-top: 1px solid #1c769c;
    border-radius: 0 0 7px 7px;
    box-sizing: border-box;
    font: 400 18px Raleway;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.50);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.50),
                inset 0 0 0 1px rgba(255,255,255,0.5)
}
.shopping-cart {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-left: 1px solid #1c769c;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}
#cart-title {
    display: inline-block;
    width: 100%;
    height: 75px;
    background: #51c0f0;
    padding: 20px 0;
    border-bottom: 1px solid #1c769c;
    box-sizing: border-box;
    font: 32px Raleway;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.50);
}
.shopping-cart .remove-item-button {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border: none;
    background-image: url('images/remove.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    opacity: 0.5;
}
.cart-wrapper {
    height: calc(100% - 260px);
    padding-top: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.shopping-cart ul {
    list-style-type: none;
    padding: 0 10px;
    margin-top: 0;
}
.shopping-cart li {
    padding: 5px 0;
}
.cart-item-name {
    vertical-align: top;
    font: 400 20px 'Raleway';
}
.cart-item-price {
    float: right;
    vertical-align: top;
    font: 400 20px 'Raleway';
    padding-right: 10px;
}
#cart-item-topping {
  font-size: 18px;
  position: relative;
  left: 40px;
  line-height: normal;
}
.totals {
    position: absolute;
    bottom: 75px;
    width: 100%;
    font: 400 20px 'Raleway';
    border-top: 1px solid #1c769c;
}
.totals ul {
    margin: 0 0 7px 0;
}
#subtotal,
#tax,
#total {
    float: right;
}
.shopping-cart #review {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #29abe2;
    border: none;
    border-top: 1px solid #1c769c;
    box-sizing: border-box;
    font: 32px Raleway;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.50);
}
#items {
    width: 80%;
    padding-top: 40px;
    text-align: center;
}

.confirmation-comment {
  width: 80;
  animation: fadeIn 1.0s ease forwards;
  position: relative;
  top: 35px;
  font: 64px Raleway;
  text-align: center;
  line-height: normal;
}

#name-form {
    animation: fadeIn 1.0s ease forwards;
    position: relative;
    top: 50px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid #999999;
    font: 32px Raleway;
    text-align: center;
}

#payment-comment {
    animation: fadeIn 1.0s ease forwards;
    position: relative;
    top: 200px;
    font: 64px Raleway;
    text-align: center;
    line-height: normal;
}

#payment-options {
    animation: fadeIn 1.0s ease forwards;
    position: relative;
    top: 100px;
}

#noButton, #yesButton {
    position: relative;
    top: 150px;
}

#noTopping {
  position: absolute;
  background-image: url('images/no.png');
  bottom: 75px;
  left: 25%;
}

#yesTopping {
    position: absolute;
    background-image: url('images/yes.png');
    bottom: 75px;
    left: 40%;
}

.circle-loader {
  margin-bottom: 3.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #29abe2;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  top: 100px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #29abe2;
  transition: border 500ms ease-out;
}

.checkmark {
    display: none;
}

.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 3px solid #29abe2;
    border-top: 3px solid #29abe2;
    content: '';
    left: 1.75em;
    top: 3.5em;
    position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar:horizontal {
    height: 14px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    border: 4px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}
