<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>StarkTouch</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div id="menu-bar">
      <img src="logo.png" alt="logo">
    </div>
    <div id="menu-screen">
      <div class="menu-icon" id="load-kiosk">
        <span>Customer Kiosk</span>
      </div>
      <div class="menu-icon" id="load-register">
        <span>Employee Kiosk</span>
      </div>
      <div class="menu-icon" id="load-burger">
        <span>Burger Station</span>
      </div>
      <div class="menu-icon" id="load-fryer">
        <span>Fryer Station</span>
      </div>
      <div class="menu-icon" id="load-drinks">
        <span>Drinks Station</span>
      </div>
      <div class="menu-icon" id="load-emp-consolidate">
        <span>Employee Consolidation</span>
      </div>
      <div class="menu-icon" id="load-cust-consolidate">
        <span>Customer Consolidation</span>
      </div>
      <div class="menu-icon" id="load-manager">
        <span>Manager Menu</span>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
