<!DOCTYPE html>
<html>
    <head>
        <title>Consolidation</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../fonts.min.css">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <div>IN PROGRESS</div>
            <div>READY</div>
        </header>
        <main>
            <div id="in-progress">
                <span>888</span>
            </div>
            <div id="ready">
                <span>888</span>
            </div>
        </main>
        <footer>
            <p>Thank you for your service!</p>
        </footer>
    </body>
</html>